# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow has been tweaked to only build and test the project on every branches push and pull request. The version of the JDK has been changed to 21.

name: Maven Build and Test

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      statuses: write   

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Create token.config for tests
        run: |
          mkdir -p ci-server/src/test/resources
          cat > ci-server/src/test/resources/token.config <<EOF
          owner=${{ github.repository_owner }}
          repo=${{ github.event.repository.name }}
          token=${{ secrets.API_TOKEN }}
          EOF


      - name: Build + Test
        run: mvn -B clean test --file ci-server/pom.xml
